<%- include("header") -%>

    <div class="box" id="heading">
      <h1><%=listTitle%> </h1>
    </div>

    <div class="box">
        <% for(var i=0;i< newListitems.length;i++){%>
          <div class="item">
            <input type="checkbox" >
            <p><%=newListitems[i]%></p>
          </div>

        <%}%>

    </div>
    <div class="box box-ip">
      <form  action="/" method="post">
        <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
        <button type="submit" name="button" value="<%=listTitle%>">+</button>
      </form>
    </div>
<%- include("footer") -%>
